{% extends "base.html" %}

{% block titulo %} Buzón {% endblock %}

{% block contenido %}


<div class="row lead">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">Buzón</h5>
            <div class="card-body">

                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit debitis vitae nesciunt molestiae, enim
                    laborum perferendis cumque! Magni ex, ipsam quam sed, optio hic cumque corporis iusto fugiat eveniet
                    veniam.
                    Vitae rerum repudiandae, optio rem, reprehenderit temporibus sequi, qui tenetur odit adipisci et
                    dolorum earum nobis debitis harum at minima delectus. Hic maiores nostrum delectus sapiente! Nemo
                    aliquid nulla reiciendis!
                    Mollitia deleniti, nobis natus voluptatum accusantium voluptate eum impedit eos. Consequatur error
                    laboriosam inventore non a minima incidunt at mollitia itaque repellendus, voluptate nostrum quas
                    doloribus repellat aperiam iusto illo.
                </p>

            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>

{%endblock%}