{% extends "base.html" %}

{% block titulo %} Contacto {% endblock %}

{% block contenido %}

<div class="row lead">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">Contacto</h5>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <i class="fas fa-map-marker-alt  mt-4 fa-2x"></i>
                    <p>UTH</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
                    </div>
                    <div class="col-md-4">
                        <i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@contact.com</p>
                    </div>


                </div>
                <br>
                <div class="row text-center">
                    <div class="col-md-4">

                        <i class="fa-brands fa-instagram mt-4 fa-2x"></i>
                        <p>Instagram</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fa-brands fa-facebook mt-4 fa-2x"></i>
                        <p>Facebook</p>
                    </div>

                    <div class="col-md-4">
                        <i class="fa-brands fa-twitter mt-4 fa-2x"></i>
                        
                        <p>Twitter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>


{%endblock%}