{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <i class="fa-solid fa-address-card  fa-10x text-center"></i>
            
            <div class="card-body">
                <h5 class="card-title text-center">Contacto</h5>
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci officiis perferendis,
                    accusamus saepe quam numquam placeat aliquam?
                </p>
                <a href="{% url 'contacto' %}" class="btn btn-primary">Contactanos</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <i class="fa-solid fa-user-plus fa-10x text-center"></i>
            
            <div class="card-body">
                <h5 class="card-title text-center">Registrate</h5>
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci officiis perferendis,
                    accusamus saepe quam numquam placeat aliquam?
                </p>
                <a href="{% url 'registar_usuario' %}" class="btn btn-primary">Registrate</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <i class="fa-solid fa-circle-info fa-10x text-center"></i>
            <div class="card-body">
                <h5 class="card-title text-center">Necesitas ayuda</h5>
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci officiis perferendis,
                    accusamus saepe quam numquam placeat aliquam?
                </p>
                <a href="{% url 'ayuda' %}" class="btn btn-primary">Ayuda</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}