{% extends "base.html" %}

{% block titulo %} Restablecimiento {% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center lead">
                Restablecer contraseña
            </div>
            <div class="card-body">

                <p class="card-text">
                    Le hemos enviado instrucciones por correo electrónico para establecer su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.

Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


{%endblock%}