{% extends "base.html" %}

{% block titulo %} Usuarios {% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center lead">
                Confirmar contraseña
            </div>
            <div class="card-body">

                <p class="card-text">Ingresa tu nueva contraseña</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{%endblock%}